<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="UserAuthentication">
            <directory>UnitTests</directory>
        </testsuite>
        <testsuite name="UserTweets">
            <directory>UnitTests</directory>
        </testsuite>
        <testsuite name="TweetActions">
            <directory>UnitTests</directory>
        </testsuite>
    </testsuites>
</phpunit>
